.principles-list-icon {
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
}

.principles-section {
    padding-bottom: 0px;
}

.principles-list {
    display: flex;
    gap: 30px;
}

.principles-list-item {
    width: 270px;
}

